/* Generic Styles */
.container {
    background-color: #fbe178;
    border: 5px solid #aaa;
    overflow: hidden;
    padding:20px;
}
.panel {
    padding:0 5px;
    background-color:#aaa;
    border:2px solid #000;
    display:block;
    margin-bottom:10px;
}
.item-magic {
    color:blue;
}
#upgrade-item-container {
	margin-bottom:10px;
}
.upgrade-item {
	position:relative;
	margin-bottom: 10px;
	overflow: hidden;
	border-bottom: 1px solid #ebd16a;
    padding-bottom: 10px;
}
.upgrade-item:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom:none;
}
	.upgrade-item > p {
		display:block;
		width:48%;
		margin-right:4%;
		float:left;
	}
	.upgrade-item > p:last-child {
		margin-right: 0;
	}
	.upgrade-item [data-upgrade-count] {
		text-align: right;
		position: absolute;
	    right: 0;
	    top: 0;
	    font-size: 2em;
	}
	.upgrade-item .gold-per-second {
		font-size: .7em;
 	    margin-left: .5em;
	}

@-webkit-keyframes clickResize {
    0%   {transform: scale3d(1, 1, 1);}
    10%  {transform: scale3d(.85, 0.85, 1);}
    90%  {transform: scale3d(.85, 0.85, 1);}
    100%  {transform: scale3d(1, 1, 1);}
}
@keyframes clickResize {
    0%   {transform: scale3d(1, 1, 1);}
    10%  {transform: scale3d(.85, 0.85, 1);}
    90%  {transform: scale3d(.85, 0.85, 1);}
    100%  {transform: scale3d(1, 1, 1);}
}

button[data-action]{
    /* @panel */
    padding:0 5px;
    background-color:#aaa;
    border:2px solid #000;
    display:block;

    box-sizing: content-box;
    height:15px;
    float:left;
    margin-bottom: 0;
}
button[data-action]:active{
    -webkit-animation: clickResize .1s 1;
    animation: clickResize .1s 1;
}


/* Specific */
#page-container{
    overflow:hidden;
    margin:70px auto 0 auto;
    width:700px;
}
nav {
	margin-bottom:10px;
}
	nav .small{
		font-size:.8em;
	}
.value-container{
    overflow:hidden;
    margin-bottom:0;
}
#stats {
    width: 230px;
    float:left;
    margin-right:10px;
}
#open-chest {
    width: 360px;
    float:left;
}
.progress-bar{
    height:15px;
    width:100px;
    margin-bottom:10px;
    border:2px solid #000;
    background-color:#aaa;
    display:block;
    position:relative;
    float:left;
    /**/margin-right:5px;
}
.progress-bar .bar{
    height:100%;
    width:0%;
    transition:.5s all;
    background-color:#f66;
}
.progress-bar.blue .bar{background-color:#66f;}
.progress-bar.green .bar{background-color:#6e6;}

.progress-bar[data-symbol]:after{
    content:attr(data-symbol);
    position:absolute;
    top: .1em;
    left: 5px;
    font-size: 0.8em;
}
